@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Netflix Bd';
    src: url(./fonts/NetflixSans_W_Bd.woff2) format('woff2');
}
@font-face {
    font-family: 'Netflix Blk';
    src: url(./fonts/NetflixSans_W_Blk.woff2) format('woff2');;
}
@font-face {
    font-family: 'Netflix Md';
    src: url(./fonts/NetflixSans_W_Md.woff2) format('woff2');;
}
@font-face {
    font-family: 'Netflix Rg';
    src: url(./fonts/NetflixSans_W_Rg.woff2) format('woff2');;
}